@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    background: #000;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    border: 1px solid black;
    height: 100vh;
}

.red {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    height: 50%;
}

#orange {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.green {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    height: 50%;
}

.blue {
    grid-column: 1 / 4;
    min-height: 100px;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite GB S", cursive;
    color: white;

}
